html,
body {
    height: 100%;
    padding-top: 45px;
    @include mobile{
        padding-top: 37px;
    }
}

main {
    flex-grow: 1;
}

.header {
    
    &--decorativeLine::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: #62DB54;
    }

    &--decorativeLine::before {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 50%;
        height: 2px;
        background-color: #09ACF5;
    }


    &__title {
        @include imgReplaceText('../images/logo.svg');
        width: 175px;
        height: 42px;
    }

    @include mobile {
        &__title {
            background-image: url("../images/logo2.svg");
            width: 24px;
            height: 24px;
        }

        &__menu {
            display: none !important;
        }
    }
}

.mobile {
    &__menu {
        left: 0;
        top: 103%;
        width: 100%;
        max-height: 0px;
        transition: all 0.7s;

        @include mobile {
            &.open {
                padding: 12px 0px;
                max-height: 174px;
                z-index: 6;
            }
        }
    }

    &__openButton {
        display: none;
    }

    @include mobile {
        &__openButton {
            display: block;
            color: $primary;
        }
    }
}

.logIn {
    max-width: 636px;

    .logIn__content {
        width: 363px;
        margin: 0 auto;

        @include mobile {
            & {
                max-width: 100%;
            }
        }

    }



    &__content__img {
        position: absolute;
        left: 32px;
        width: 24px;
        height: 24px;
        vertical-align: top;

        @include mobile {
            & {
                left: 16px;
            }
        }
    }

    &__content__text {
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 10px;
            right: 0px;
            width: calc(50% - 64px);
            height: 1px;
            background-color: #C1C1C1;

        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 13px;
            left: 0px;
            width: calc(50% - 64px);
            height: 1px;
            background-color: #C1C1C1;
        }
    }
}


.footer {
    &__text {
        line-height: 1.18;

        @include mobile {
            font-size: 12px !important;
            line-height: 1.16;
        }
    }
}