.checkout {
    position: relative;

    &--page,
    &-pay--page,
    &-succse--page {
        background: #000000;
    }


    &__number {
        font-family: 'Azeret Mono', monospace;
        position: relative;
        border-radius: 50%;
        font-size: 12px;
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        border: 1px solid;

        &.current {
            background-color: $primary;
            color: $white;
            border: 1px solid $primary;
        }
    }

    &__icon {
        display: none;

        &.current {
            content: "";
            display: block;
            position: absolute;
            border-radius: 50%;
            font-size: 18px;
            top: -1px;
            left: -1px;
            background-color: $primary;
            color: $white;
            border: 1px solid $primary;
        }
    }

    &__number__line1 {
        &::before {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: calc((100% - 128px) / 2);
            background-color: #c1c1c1;
            left: 54px;
            top: 33px;
        }
    }

    &__number__line2 {

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: calc((100% - 128px) / 2);
            background-color: #c1c1c1;
            right: 54px;
            top: 33px;
        }
    }

    &__text {
        &.current {
            color: $primary;
        }
    }

}

.current--1 .checkout__number__line1::before {
    background-color: $primary;
}

.current--2 .checkout__number__line2::after {
    background-color: $primary;
}

.block__1 {
    max-width: 856px;
    margin: 0 auto;
    top: 0px;
    left: 0;

    @include pc-plus_min {
        max-width: 366px;
        position: absolute !important;
        left: -283px;
        top: 183px;
    }

    @include pc-plus-xl-min {
        max-width: 416px;
        position: absolute !important;
        left: -343px;
        top: 183px;
    }



    @include pc-plus_min {
        &::after {
            content: "";
            position: absolute;
            width: 17px;
            height: 17px;
            background: #2D2D2D;
            right: -8px;
            top: calc(50% - 12px);
            transform: rotate(45deg)
        }
    }

    @include pc-plus {
        &::before {
            content: "";
            position: absolute;
            width: 17px;
            height: 17px;
            background: #2D2D2D;
            bottom: -8px;
            left: calc(50% - 12px);
            transform: rotate(45deg)
        }
    }
}

.block__2 {
    max-width: 856px;

    @include pc-plus {
        margin: 0 auto;
    }
}