.whiteBlockDecorate--3 {
    &::after {
        right: -38px;
        top: -46px;
    }
    &::before {
        left: -38px;
        top: -46px;
    }

    @media (max-width:991px){
        &::after {
            right: -30px;
        }
        &::before {
            left: -30px;
        }  
    }
}

.whiteBlockDecorate--4 {
    top: 160px;
    &::after {
        right: -5px;
        bottom: -5px;
    }

    &::before {
        left: -5px;
        bottom: -5px;
    }
}