.banner {
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    
    @include mobile-min{
        height: 100vh;
    }

    @include mobile {
        & {
            background-image: url(../images/bg_home_mobile.jpg);
            background-size: contain;
            padding: 80px 0;
        }
    }

    &__title {
        @include mobile {
            font-size: 24px !important;
        }
    }

    &__text {
        @include mobile {
            font-size: 14px !important;
        }
    }

    .whiteBlockDecorate--1 {
        &::after {
            right: -5px;
            top: -5px;

        }

        &::before {
            left: -5px;
            top: -5px;
        }
    }

    .whiteBlockDecorate--2 {
        &::after {
            right: -5px;
            bottom: -53px;

            @include mobile {
                & {
                    bottom: -37px;
                }
            }

        }

        &::before {
            left: -5px;
            bottom: -53px;

            @include mobile {
                & {
                    bottom: -37px;
                }
            }
        }
    }
}

.feature {
    &__title {
        position: relative;

        @include pc {
            text-align: center;
            margin-bottom: 40px;
        }


        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -16.5px;
            height: 3px;
            background-color: $primary;
            width: 50px;

            @include pc {
                left: calc(50% - 25px);
            }
        }
    }

    @include pc-plus {
        &__text {
            font-size: 16px;
        }
    }

    @include pad {
        &__text {
            font-size: 18px;
        }
    }

    &__list__item {
        @include pad {
            margin-bottom: 24px;
        }
    }

    &__list__link--hover {
        border: 1px solid transparent;

        &:hover {
            color: #ffffff !important;
            border: 1px solid $primary;
            background-color: #202020;
            .textColorGradient { 
                @include colorGradient(270deg, #09ACF5,#62DB54, )
            }
        }

        @include pad{
            color: #ffffff !important;
            background-color: #202020;
            .textColorGradient { 
                @include colorGradient(270deg, #09ACF5,#62DB54, )
            }
        }
    }
}

.process {

    @include pad {
        padding: 40px 0px !important;
    }

    &__item {

        @include pc-plus-xl {
            padding-top: 48px !important;
            padding-bottom: 48px !important;
            padding-left: 24px !important;
        }
    }

    &__item {
        @include pc-plus {
            padding-left: 48px !important;
            margin-bottom: 50px;
        }
    }

    &__item {
        @include pad {
            padding-right: 12px !important;
        }
    }

    .numberDecorate--1 {
        &::before {
            content: "01";
        }
    }

    .numberDecorate--2 {
        &::before {
            content: "02";
        }
    }

    .numberDecorate--3 {
        &::before {
            content: "03";
        }
    }

    .numberDecorate--4 {
        &::before {
            content: "04";
        }
    }

}

.article {
    &__card {

        border: none;
        min-height: 615px;
        background-size: cover;
        background-position: center center;

        @include mobile {
            min-height: 263px;
            text-align: center;
        }

        &:hover {
            color: $white;

            .titleDecorate-2::before {
                background-color: $primary;
            }

            .article__card--light {
                color: $primary  !important;
            }

            .article__card--white {
                color: $white  !important;
            }
        }

        & .titleDecorate-2::before{
            @include mobile {
                background-color: $primary;
            }
        }

        & .article__card--light {
            @include mobile {
                color: $primary  !important;
            }
        }

        &__body {
            min-width: 264px;

            @include mobile {
                min-width: auto;
            }
        }

        &--mask {
            background-color: rgba($color: #1C1C1C, $alpha: 0.8);

            &:hover {
                background-color: rgba($color: #1C1C1C, $alpha: 0.2);
            }
        }

        &--bg01 {
            background-image: url(../images/info01.jpg);
        }

        &--bg02 {
            background-image: url(../images/info02.jpg);
        }

        &--bg03 {
            background-image: url(../images/info03.jpg);
        }

        &--bg04 {
            background-image: url(../images/info04.jpg);
        }
    }
}

.active:hover {
    .primaryCorneryBorder {
        &::after {
            content: "";
        }

        &::before {
            content: "";
        }

    }
}

.section--backgroundImage {
    background-image: url(../images/bg_share.jpg);
    background-position: center;
    background-size: cover;
}
