@mixin imgReplaceText ($url) {
    background-image: url($url);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

@mixin colorGradient($deg, $color1, $color2) {
    background: linear-gradient($deg, $color1, $color2) !important;
    background: -webkit-linear-gradient($deg, $color1, $color2) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

@mixin textOverflow-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align:justify
}


@mixin titleDecorate {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -16.5px;
    height: 3px;
    background-color: $primary;
    width: 50px;
}

@mixin titleDecorate-2 {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 3px;
    background-color: $white;
    width: 50px;
    @include mobile{
        left: calc(50% - 25px);
    }
}

@mixin whiteBlockDecorate {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $white;
    z-index: 6;
}

@mixin primaryCorneryBorder{

    position: absolute;
    width: 32px;
    height: 32px;
    background-color: transparent;
    z-index: 6;
}

@mixin numberDecorate {
    position: absolute;
    left: 44px;
    top: -28px;
    width: 64px;
    height: 56px;
    background-color: #1c1c1c;
    color: $primary;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    line-height: 1.16;
    font-family: 'Azeret Mono', monospace;
}


@mixin pc-plus-xl {
    @media (max-width: 1399px) {
        @content;
    }
}

@mixin pc-plus-xl-min {
    @media (min-width: 1399px) {
        @content;
    }
}


@mixin pc-plus {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin pc-plus_min {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin pc {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin pad {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-min {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin mobile-xs {
    @media (max-width: 359px) {
        @content;
    }
}