.swiper {
  padding: 5px 0px;
  --swiper-pagination-color: #62DB54;
  --swiper-navigation-color: #62DB54;
  --swiper-navigation-size: 20px;



  width: 100%;
  height: 100%;

  &__slide--0 {
    text-align: center;
    font-size: 18px;
    background: $dark;
    padding: 24px 32px;
    border-radius: 8px;
    width: auto !important;

    &:active {
      border: 1px solid $primary  !important;
    }

  }

  &1 {
    width: 925px;
    height: 425px;

    @include pc {
      width: auto;
      height: auto;
    }
  }

  .swiper1__block1 {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 6;
    margin: 0 auto;
    width: fit-content;

    @include pc {
      position: relative !important;
      margin-bottom: 70px;
    }


    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      z-index: -1;
      border-radius: 24px;
    }

    &__img {
      border-radius: 24px;
      max-width: 525px;
      max-height: 381px;

      @include pc {
        max-width: 100%;
      }
    }
  }

  .swiper1__block2 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 416px;
    height: 178px;
    z-index: 12;
    border-radius: 24px;
    border-bottom-left-radius: 0px;

    @include pc {
      position: relative;
      margin: 0 auto;
      max-width: 573px;
      height: auto;
      margin-bottom: 32px;
      padding: 24px 28px;
    }

    @include mobile {
      min-height: 137px;
    }

    &__img {
      position: absolute;
      width: 100px;
      height: 100px;
      right: 0px;
      top: -74px;
      border-radius: 50%;

      @include mobile-xs {
        width: 80px;
        height: 80px;
        top: -79px;
        right: -20px;
      }
    }
  }



  .swiper1__controlBox {
    left: 198px;
    bottom: 24px;

    @include pc {
      position: static !important;
      justify-content: center;
    }

    &__pragination {

      position: static;
      width: auto;
      margin: 0px 14px 6px 14px;
    }

    &__next {
      position: static;
      margin: 0;

      &::after {
        content: none
      }
    }

    &__prev {
      position: static;
      margin: 0;

      &::after {
        content: none
      }
    }
  }

  &__slide--2 {
    text-align: center;
    padding: 16px 32px;
    border-radius: 8px;
    width: auto !important;

    &:active {
      border: 1px solid $primary  !important;
      color: $primary;
    }

  }

}

.swiper-pagination-bullet {
  opacity: 1;
  background: #62DB54;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-width: 16px;
  border-radius: 9px;
}