.r-21 {
    right: 21px;
}
.t-170{
    top: 170px;
}

.py-80 {
    padding: 80px 0px;
}

.me-9px {
    margin-right: 9px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-64 {
    margin-bottom: 64px;
}

.font-family-Azeret{
    font-family: 'Azeret Mono', monospace;
}

.line-height-1_156 {
    line-height: 1.156;
}
.line-height-1_42 {
    line-height: 1.42;
}

.line-height-1_45 {
    line-height: 1.45;
}

.line-height-1_458 {
    line-height: 1.458;
}

.border-none {
    border: none;
}

.rounded-24px{
    border-radius: 24px;
}

.border-clearn{
    border-top: 1px solid #1c1c1c;
}

.mix-hight-642{
    min-height: 642px;
}